
/*头像旋转*/
#ds-reset .ds-avatar{background:none !important; box-shadow:none !important;}

#ds-reset .ds-avatar img , #ds-thread #ds-reset ul.ds-children .ds-avatar img{width:30px !important;height: 30px !important;border-radius: 30px;-webkit-transition: .8s;-moz-transition: .8s;-o-transition: .8s;-ms-transition: .8s;padding:3px;background: #fff;}

.ds-post:hover .ds-avatar img{transform:rotate(720deg);-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-o-transform:rotate(720deg);-ms-transform:rotate(720deg);border-radius:30px !important;}

#ds-reset .ds-avatar img:hover{transform:rotate(720deg);-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-o-transform:rotate(720deg);-ms-transform:rotate(720deg);border-radius:30px !important;}

#ds-thread #ds-reset .ds-comment-body, #ds-thread #ds-reset ul.ds-children .ds-comment-body{padding-left:70px !important;}

#ds-thread #ds-reset .ds-comment-body, #ds-thread #ds-reset ul.ds-children .ds-comment-body{padding-left:70px !important;}

.ds-post:hover{background:transparent !important;}

#ds-thread #ds-reset ul.ds-children .ds-avatar{width:50px !important;}

#ds-thread #ds-reset .ds-replybox{padding: 0 0 0 80px !important;}

#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-body{margin-left: 68px !important;}

#ds-recent-comments li.ds-comment:nth-of-type(1){border:none !important;}


/* 隐藏 */
.ds-sync {display:none !important;}

.ds-meta {display:none !important;}

.ds-comments-info {display:none !important;}

.ds-replybox .ds-avatar{display: none !important;}

.ds-icons-32{display: none !important;}


/*隐藏评论总数背景及边框*/
#ds-thread #ds-reset .ds-textarea-wrapper{border: none;background: #fcfcfc;}

#ds-thread #ds-reset li.ds-post{border-top: none;}

#ds-thread #ds-reset .ds-comments, #ds-thread #ds-reset .ds-paginator{border-bottom: none;}


/*隐藏多说底部版权*/
#ds-thread #ds-reset .ds-powered-by{display:none;}

#ds-thread #ds-reset .ds-textarea-wrapper{border: none;background: #fcfcfc;}

#ds-thread #ds-reset .ds-post-self{border-bottom: 1px dotted #f2f2f2;}

#ds-thread #ds-reset .ds-post-options{border: none;}

#ds-thread{padding-top: 0px;padding-bottom: 0px;}

#ds-thread #ds-reset .ds-replybox{padding: 0 !important;}


.ds-post-likes {display: none !important;}

.ds-post-repost{display: none !important;}

.ds-post-report{display: none !important;}


.ds-icon-reply{display: none !important;}


#ds-thread #ds-reset a.ds-user-name[data-user-id='9103210']:after {
content: "权限Boss";
margin-left: 6px;
font-size: 14px;
color: #16171b;
background: #EA5455;
border-radius: 5px;
padding: 0 3px;
}


#ds-thread #ds-reset .ds-replybox {background: #fafafa;padding: 0 !important;}

#ds-thread #ds-reset .ds-post-button {background: #16171b;}
#ds-thread #ds-reset .ds-post-button:hover {background: #ff2828;}
<div class="ds-thread" data-thread-key="{{page.path}}"	data-title="{{page.title}}" data-url="{{page.permalink}}"></div>

    <div class="ds-share-aside-left">
      <div class="ds-share-aside-inner">
      </div>
      <div class="ds-share-aside-toggle">分享到</div>
    </div>
</div>
